*{
  background-color: rgb(0, 69, 109);
}
ul{
  margin: 0px;
}
ul>li>a{
  text-decoration: none;
  color: white;

}
ul>li>a:hover{
  color: black;
  text-decoration: solid;

}

ul>li{
list-style: none;
display: inline-block;
padding: 5px 10px;
}

body {
  background-color: #f0f0f0;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-toggler-icon {
  background-color: #fff;
}
