.header{
    background-color: darkblue;
    padding: 20px;
    text-align: center; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: white;
    
  
  }
  
  .navbar {
    background-color: darkblue;
  }