
.personaje-card {
    display: flex;
    max-width: 600px;
    height: 150px; 
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .personaje-image {
    width: 150px; 
    height: 100%; 
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    object-fit: cover;
  }
  
  
  .personaje-content {
    position: absolute;
    top: -10px;
    left: 150px;
    padding: 16px;
    flex-direction: column;
    text-align: left; 
    color: white; 
  }
  

